# An all-in-one, ready-to-go encoding container! The only downside is it's still stuck to using a single
# INPUTDIR. I need to figure out how to deal with multiple inputs in the script. Other than that, this
# thing is pretty plug and play, once you get all the mounted directories in place.
#
# IMPORTANT NOTE: File cleanup currently doesn't work when you interrupt it. It'll leave .part files and lock
# file laying around.
#
# Even cooler, now that the encode script uses has locking to ensure only one instance is processing an input
# file, you can spin up multiple containers like
# INPUTDIR=/mnt/k/ripping FILTER_INPUT="Psych Season" docker-compose up --scale ffmpeg=4
#
# A full encoding command that cycles through multiple inputs, targets specific rips, and filters the output:
# for drive in j k l; do docker compose down; \
#   INPUTDIR=/mnt/$drive/ripping MODE=FIRST_PASS FILTER_INPUT="(babe|cheaper|blind)" \
#     docker compose up --scale ffmpeg=1 2>&1 | grep -Ev '\| (Done|Missing)'; done

services:
  ffmpeg:
    image: ffmpeg-for-server
    deploy:
      resources:
        limits:
          # Uncomment this and comment the {} to enforce cpu limit. This will filter into the `nproc` call
	  # in the encode script.
          #cpus: '2.0'
          {}
    volumes:
      - /mnt/d:/mnt/d
      - /mnt/j:/mnt/j
      - /mnt/k:/mnt/k
      - /mnt/l:/mnt/l
      - /home/ryan/media-tools:/media-tools
      - /mnt/plex-media/plex-media-server/encoded:/mnt/encode-target
      - /mnt/tmp1:/mnt/tmp1
      - /mnt/tmp2:/mnt/tmp2
    environment:
      - TVSHOWSDIR=/mnt/encode-target/tv-shows
      - MOVIESDIR=/mnt/encode-target/movies
      - INPUTDIR=${INPUTDIR:-/mnt/j/ripping}
      - CACHEDIR=/mnt/d/ripping-work/cache
      - MODE=${MODE:-}
#      - ALT_OUTPUT_DIRS=/mnt/tmp1/plex-media-server/encoded/movies:/mnt/tmp1/plex-media-server/encoded/tv-shows:/mnt/tmp2/plex-media-server/encoded/movies:/mnt/tmp2/plex-media-server/encoded/tv-shows
      - FILTER_INPUT=${FILTER_INPUT:-}
    command: /media-tools/allinone/encode.sh
